// toolbar
.example-spacer {
  flex: 1 1 auto;
}

.toolbar-title {
  margin-left: 20px;
}

// add button
.button-container {
  margin-top: 60px;
  margin-right: 60px;
  position: fixed;
  top: 75vh;
  right: 0;
}

// tabela
.tabela {
  margin-top: 30px;
  margin-left: 65px;
  margin-right: 65px
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.padding-mat-cell {
  padding: 0px;
}

.lines {
  margin: 12px
}

.firstline {
  font-size: 16px;
  margin-bottom: 3px;
}

.secondline {
  font-size: 14px;
  color: gray;
}
