<!-- header -->
<div>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="toolbar-title">Tasks</span>
    <span class="example-spacer"></span>
  </mat-toolbar>
</div>

<div>

  <!-- add button -->
  <div class="button-container">
    <div class="btn-holder"></div>
    <button mat-fab color="primary" aria-label="Adicionar tarefa à lista" (click)="openDialog()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>

<!-- table -->
<div class="tabela">
  <mat-table [dataSource]="dataSource" class="mat-elevation-z0">

    <ng-container matColumnDef="todosOsItensDasTarefas">
      <mat-header-cell mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell class="padding-mat-cell" mat-cell *matCellDef="let row">
        <div class="lines">
          <div class="firstline">{{row.tituloTarefa}}</div>
          <div class="secondline">{{row.dataRegistro | date: 'EEEE MMM d, y'}}
          </div>
        </div>
      </mat-cell>
    </ng-container>

    <mat-row matRipple *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>

</div>
